@tailwind components;
@layer components {
  .iconButton {
    @apply flex justify-center items-center w-11 h-11 rounded-lg p-2 hover:cursor-pointer focus:ring-blue-200 focus:ring-2;
  }
  .folioListItem {
    @apply mb-10;
  }
  .mainHeading {
    line-height: 104px;
    font-size: 80px;
    bottom: 30%;
    left: 5%;
    @apply font-bold text-white absolute font-highlight;
  }
  .mainHeader {
    background: #000045;
  }
  .hero__image {
    height: 100vh;
    width: auto;
    margin: 0 auto;
    object-fit: cover;
  }

  .-greyBackdrop {
    @apply relative;
  }

  .-greyBackdrop:after {
    content: '';
    display: block;
    left: -100%;
    right: -100%;
    top: 0;
    bottom: 0;
    z-index: -1;
    position: absolute;
    @apply bg-zinc-200;
  }

  .navLink {
    @apply font-semibold uppercase p-3;
  }
}
